<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="connectionString" value="Data Source = GF4GZ362E\SQLEXPRESS;Database=gehc_freight;Integrated Security=True"/>-->
    <add key="connectionString" value="Data Source=MXCJSDBS02\BOPSQLSERVER01;Database=gehc_freight;User ID=web;Password=scooby;"/>
  </appSettings>
  <connectionStrings/>
 
  <system.web> 
    <httpRuntime maxRequestLength="51200" executionTimeout="3600"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/> 
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>